{% extends 'base.html.twig' %}
{% block title %}Inloggen{% endblock %}
{% block body %}
    <div class="inhoud">
        <h1>Inloggen</h1>
        <p><a href="{{ path('registreren_show') }}">Ik heb nog geen account</a></p>
        {% if foutegegevens %} {# error berichten #}
            <p class="error">U vulde een verkeerd emailadres of wachtwoord in!</p>
        {% endif %}
        {% if bestaatniet %}
            <p class="error">Dit emailadres is nog niet geregistreerd!</p>
        {% endif %}
        <form id="inlogform" name="onlogform" method="post" action="{{ path('login_show',{'action': 'login'}) }}">
            <table>
                <tr>
                    <td><label for="email">E-mailadres:</label></td>
                    <td><input id="email" type="text" name="email" value="{{ email }}"></td>
                </tr>
                <tr>
                    <td><label for="wachtwoord">Wachtwoord:</label></td>
                    <td><input id="wachtwoord" type="password" name="wachtwoord"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="log in"></td>
                </tr>
            </table>
        </form>
        <p class="error">{{databaseError}}</p>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}