{% extends 'base.html.twig' %}
{% block title %}Menu{% endblock %}
{% block activemenu %}actief{% endblock %}
{% block body %}
        <div class="inhoud">
            <h1>Menu</h1>
            <table>
                <tr>
                    <th>Naam</th>
                    <th>Prijs</th>
                    <th>Samenstelling</th>
                </tr> 
                {% for product in menu %} {# menu wordt hier weergegeven #}
                    <tr>
                        <td>
                            {% if product.beschikbaarheid == 1 %}
                                <a href="menu?product={{ product.id }}">{{ product.naam }}</a>
                            {% else %}
                                <a class="nietBeschikbaar" href="menu?product={{ product.id }}">{{ product.naam }}</a> (niet beschikbaar)
                            {% endif %}
                        </td>
                        {% if aangemeld == true and klant.promotie == 1 %}
                            <td>&euro; {{ product.promotie }}</td>
                        {% else %}
                            <td>&euro; {{ product.prijs }}</td>
                        {% endif %}
                        <td>{{ product.samenstelling }}</td>
                    </tr>
                {% endfor %}
            </table>
            <p class="error">{{databaseError}}</p>
            {% if leeg == false %} {# hier wordt winkelmandje samengevat en kan men voor bestellen kiezen #}
                <h1>Winkelmandje</h1>
                <table>
                    {% for key, product in winkelmandje%}
                        <tr>
                            <td>{{ product.naam }}</td>
                            {% if aangemeld == true and klant.promotie == 1 %}
                                <td>&euro; {{ product.promotie }}</td>
                            {% else %}
                                <td>&euro; {{ product.prijs }}</td>
                            {% endif %}
                            <td><a href="menu?verwijder={{ key }}">X</a></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td>&euro; {{ totaalprijs }}</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="afrekenen.php"><button>Afrekenen</button></a>
                        </td>
                    </tr>
                </table>
            {% endif %}
        </div>
{% endblock %}