<!DOCTYPE HTML>
<html>
    <head>
        <meta charset = utf-8>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pizzeria</title>
        <link rel="stylesheet" href="css/pizzeria.css" />
        <link href="scripts/jQuery/jQuery-slideshow-plugin/plugin.css" rel="stylesheet" type="text/css"/>
        <script src="scripts/jQuery/jquery-1.11.3.min.js" type="text/javascript"></script>
        <script src="scripts/jQuery/jQuery-slideshow-plugin/jquery.hammer-full.min.js" type="text/javascript"></script>
        <script src="scripts/jQuery/jQuery-slideshow-plugin/plugin.js" type="text/javascript"></script>
        <script src="scripts/js/pizzeria.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="alles">
            <div class="navwrap">
                <ul class="navigatie">
                    <li>
                        <a href="index.php">Home</a>
                    </li>
                    <li>
                        <a href="menutonen.php">Menu</a>
                    </li>
                    <li>
                        <a class="actief" href="winkelmandjetonen.php">Winkelmandje</a>
                    </li>
                    <li>
                        {% if aangemeld %}
                            <a href="index.php?action=uitloggen">Log uit</a>
                        {% else %}
                            <a href="inloggen.php">Log in</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="pizza"><img id="slideshow" src="img/pizza1.jpg" data-slideshow="img/pizza2.jpg|img/pizza3.jpg" /></div>
            <div class="inhoud">
                <h1>Winkelmandje</h1>
                {% if leeg == false %} {# hier wordt winkelmandje samengevat en kan men voor bestellen kiezen #}
                    <table>
                        {% for key, product in winkelmandje%}
                            <tr>
                                <td>{{ product.naam }}</td>
                                <td>({{ product.samenstelling }})</td>
                                {% if aangemeld == true and klant.promotie == 1 %}
                                    <td>&euro; {{ product.promotie }}</td>
                                {% else %}
                                    <td>&euro; {{ product.prijs }}</td>
                                {% endif %}
                                <td><a href="winkelmandjetonen.php?verwijder={{ key }}">X</a></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td>&euro; {{ totaalprijs }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="afrekenen.php"><button>Afrekenen</button></a>
                            </td>
                        </tr>
                    </table>
                {% else %} {# als winkelmandje leeg is #}
                    <p>Uw winkelmandje is leeg</p>
                {% endif %}
            </div>
            <footer>
                <p>Gemaakt door: Sam Verhoeven</p>
            </footer>
        </div>
    </body>
</html>
